---
layout: default
---
<style>
  .home {
    margin-left: 50px;
    margin-right: 60px;
    font-weight: 400;
    color: black;
  }
  .description {
    white-space: pre-line;
    width: 100%;  
    word-wrap:break-word;  
    word-break:break-all; 
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: medium;
  }
  h1.heading{
    line-height: 1.1;
    font-size: xx-large;
    padding-top: 25px;

  }
  h2.name-list{
    line-height: 1.1;
    font-size: large;
  }
  .my_block{
    width: 400px;  
    word-wrap:break-word;  
    word-break:break-all; 
    display: table-cell;
    padding: 50px;
  }
  .my_table {
  display: table;
  width: 100%;
}

  .my_row {
    display: table-row;
  }


</style>
<div class="home">
  <div class="description">
    <img src="https://dimshimmer.hospital.github.io/style/image/doctor_.png" width="400px" height="500px" style="float: right;"/>
    <h1 class="heading">
      医院网上预约系统
    </h1>
    
    {{ site.description | empty }}
  </div>

  <div class="departments" style="padding-top:30px">
    <h1 class="heading" >
      热门科室
    </h1>
    <a href="/departments.html">
      <u >全部科室>></u>
    </a>
    <div class="my_table">
      {%- if site.departments.size > 0 -%}
        {% assign rows = site.departments.size | divided_by: 2.0 | ceil %}
        {%- for i in (1..rows) -%}
        <div class = "my_row">
          {% assign offset = forloop.index0 | times: 2 %}
          {% for dept in site.departments limit:2 offset:offset %}
          {%- if dept.name -%}
          <div class="my_block">
          <hr style="width: 480px">
              <h2 class="name-list">
                <a href={{ dept.url }}>
                  {{ dept.name | default:"Empty" }}
                </a>
              </h2>
              <h3 >
                {{ dept.description | default:"Empty" }}
              </h3>
          </div>
          {%- endif -%} 
          
          {%- endfor -%}
        </div>
        {%- endfor -%} 
      {%- endif -%} 
    </div>
  </div>
  <br>
  
  <div class="docters">
    <h1 class="heading" >
      热门医生
    </h1>
    <a href="/doctors.html">
      <u style="text-align: right;">全部医生>></u>
    </a>
    <div class="my_table">
      {%- if site.doctors.size > 0 -%}
        {% assign rows = site.doctors.size | divided_by: 2.0 | ceil %}
        {%- for i in (1..rows) -%}
        <div class="my_row">
          {% assign offset = forloop.index0 | times: 2 %}
          {% for doct in site.doctors limit:2 offset:offset %}
          {%- if doct.name -%}
          <div class="my_block">
          <hr style="width: 480px">
            
              <h2 class="name-list">
                <a href={{ doct.url }}>
                  {{ doct.name | default:"Empty" }}
                </a>
              </h2>
              <br>
              <h3>
                联系方式：{{ doct.phone_number | default:"Empty" }}
              </h3>
              
          </div>
          {%- endif -%} 
          {%- endfor -%}
        </div>
        {%- endfor -%} 
        {%- endif -%} 
    </div>
    
  </div>

</div>


